<form [formGroup]="supervisorLicenseForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="clearfix w-100">
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100">
							<label>Supervisor</label>
							<kendo-combobox
								valueField="id"
								style="min-width: 200px; width: 100%"
								textField="name"
								[data]="(supervisor$ | async) || []"
								[kendoDropDownFilter]="filterSettings"
								formControlName="clinicianId"
								[valuePrimitive]="true"
							>
							</kendo-combobox>
						</div>
					</div>
				</div>
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100">
							<label>Payer</label>
							<kendo-combobox
								valueField="id"
								style="min-width: 200px; width: 100%"
								textField="name"
								[data]="(payers$ | async) || []"
								[kendoDropDownFilter]="filterSettings"
								formControlName="payerId"
								[valuePrimitive]="true"
							>
							</kendo-combobox>
						</div>
					</div>
				</div>
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100">
							<label>Start</label>
							<kendo-datepicker
								formControlName="startDate"
								format="MM/dd/yyyy"
								kendoTextBox
								formatPlaceholder="wide"
							></kendo-datepicker>
						</div>
					</div>
				</div>
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100">
							<label>End</label>
							<kendo-datepicker
								formControlName="endDate"
								format="MM/dd/yyyy"
								kendoTextBox
								formatPlaceholder="wide"
							></kendo-datepicker>
						</div>
					</div>
				</div>
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100">
							<label>ProviderId</label>
							<input
								name="providerId"
								formControlName="providerId"
								kendoTextBox
								class="k-textbox"
								style="width: 100%"
								maxlength="250"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
