<div>
	<div class="p10 form">
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Title</label>
					<input
						name="title"
						[formControl]="titleControl"
						kendoTextBox
						class="k-textbox"
						style="width: 100%"
						maxlength="250"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <kendo-dialog-actions> -->
<button kendoButton (click)="onCancelAction()">Cancel</button>
<button kendoButton (click)="onConfirmAction()">Save</button>
<!-- </kendo-dialog-actions> -->
