<form [formGroup]="myPatientDistributionForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Start Date</label><br />
						<kendo-datepicker
							formControlName="startDate"
							format="MM/dd/yyyy"
							kendoTextBox
							formatPlaceholder="wide"
						></kendo-datepicker>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100" (click)="openDeialogClinician()">
						<label>Clinician</label>
						<input
							name="clinicianName"
							formControlName="clinicianName"
							class="k-textbox disabled-input"
							style="width: 100%"
							type="button"
							placeholder="Select clinician"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100" (click)="openDeialogPatient()">
						<label *ngIf="!patientDistribution">Patient</label>
						<input
							name="patientName"
							formControlName="patientName"
							kendoTextBox
							attr.disabled="true"
							[type]="patientDistribution ? 'hidden' : 'button'"
							class="k-textbox disabled-input"
							placeholder="Select patient"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>

			<input
				name="id"
				formControlName="id"
				kendoTextBox
				hidden
				class="k-textbox"
				style="width: 100%"
				maxlength="250"
			/>

			<input
				name="clinicianId"
				formControlName="clinicianId"
				kendoTextBox
				hidden
				class="k-textbox"
				style="width: 100%"
				maxlength="250"
			/>

			<input
				name="patientId"
				formControlName="patientId"
				kendoTextBox
				hidden
				class="k-textbox"
				style="width: 100%"
				maxlength="250"
			/>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
