<form [formGroup]="myPersonaInfoForm" novalidate style="max-width: 724px; padding-left: 10px">
	<div class="title-form">Personal Info</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style first-form">
				<input
					name="id"
					formControlName="id"
					hidden
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
				<label>Firstname</label>
				<input
					name="firstname"
					formControlName="firstname"
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Middle name</label>
				<input
					name="middlename"
					formControlName="middlename"
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Last name</label>
				<input
					name="lastname"
					formControlName="lastname"
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Date of birth</label><br />
				<kendo-datepicker formControlName="dob"></kendo-datepicker>
			</div>
		</div>
	</div>
	<div class="title-form">Address</div>
	<div [formGroup]="getAddress()">
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100 form-style first-form">
					<label>Address 1</label>
					<input
						name="address1"
						formControlName="address1"
						kendoTextBox
						class="k-textbox"
						style="width: 100%"
						maxlength="250"
					/>
				</div>
			</div>
		</div>
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100 form-style">
					<label>Address 2</label>
					<input
						name="address2"
						formControlName="address2"
						kendoTextBox
						class="k-textbox"
						style="width: 100%"
						maxlength="250"
					/>
				</div>
			</div>
		</div>
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100 form-style">
					<label>City, Zip</label>

					<input
						name="city"
						formControlName="city"
						kendoTextBox
						class="k-textbox city-form"
						style="width: 100%"
						maxlength="250"
					/>
					<input
						name="zip"
						formControlName="zip"
						kendoTextBox
						class="k-textbox zip-form"
						style="width: 100%"
						maxlength="250"
					/>
				</div>
			</div>
		</div>
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100 form-style">
					<label>State</label>
					<kendo-combobox
						valueField="abbreviation"
						textField="name"
						[data]="(stateCity$ | async) || []"
						formControlName="state"
						name="usstate"
						[valuePrimitive]="true"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>
	</div>
</form>
