<form [formGroup]="myPersonaInfoForm" novalidate style="max-width: 724px; padding-left: 10px">
	<div class="title-form">Personal Info</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style first-form">
				<input
					name="id"
					formControlName="id"
					hidden
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
				<label>Firstname</label>
				<input
					name="firstname"
					formControlName="firstname"
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Middle name</label>
				<input
					name="middlename"
					formControlName="middlename"
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Last name</label>
				<input
					name="lastname"
					formControlName="lastname"
					kendoTextBox
					class="k-textbox"
					style="width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Date of birth</label>
				<kendo-datepicker
					format="MMMM"
					formatPlaceholder="wide"
					formControlName="dob"
				></kendo-datepicker>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<advenium-address formControlName="address" name="address"></advenium-address>
	</div>
</form>
