<form [formGroup]="myDemographicForm">
	<div class="clearfix">
		<div>
			<label>Administrative Sex</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="sex"
				textField="name"
				valueField="id"
				formControlName="sexId"
				name="sex"
				style="min-width: 100px; width: 40%"
			></advenium-button-selector>
		</div>
		<div>
			<label>Gender Identity</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(genderIdentity$ | async) || []"
				formControlName="genderId"
				name="gender"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
			<!-- <kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(employement$ | async) || []"
				formControlName="employement"
				name="employement"
				[valuePrimitive]="true"
			>
			</kendo-combobox> -->
		</div>
		<div>
			<label>Sexual Orientation</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(sexualOrientation$ | async) || []"
				formControlName="sexOrientationId"
				name="sexOrientation"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
		</div>
		<div>
			<label>Race</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(race$ | async) || []"
				formControlName="raceId"
				name="race"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
		</div>
		<div>
			<label>Languages</label>
			<kendo-multiselect
				[autoClose]="false"
				[data]="(languages$ | async) || []"
				valueField="id"
				style="min-width: 200px; width: 300px; height: 38px; padding-right: 16px"
				textField="name"
				[valuePrimitive]="true"
				[kendoDropDownFilter]="filterSettings"
				formControlName="languageIds"
				name="languages"
				[valuePrimitive]="true"
			>
			</kendo-multiselect>
		</div>
		<div>
			<label>Marital Status</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="maritalStatus"
				textField="name"
				valueField="id"
				formControlName="maritalStatusId"
				style="min-width: 100px; width: 40%"
				name="maritalStatus"
			></advenium-button-selector>
			<!-- <kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(maritalStatus$ | async) || []"
				formControlName="maritalStatus"
			>
			</kendo-combobox>  -->
		</div>
		<div>
			<label>Employment</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(employement$ | async) || []"
				formControlName="employementId"
				name="employement"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
		</div>
	</div>
</form>
