<form [formGroup]="myDemographicForm" style="max-width: 724px; padding-left: 10px">
	<div class="column w-100" style="display: flex; flex-direction: column">
		<div class="clearfix form-style first-form">
			<label>Administrative Sex</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="sex"
				textField="name"
				valueField="id"
				formControlName="sexId"
				name="sex"
				style="min-width: 100px; width: 100%"
			></advenium-button-selector>
		</div>
		<div class="clearfix form-style">
			<label>Gender Identity</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(genderIdentity$ | async) || []"
				formControlName="genderId"
				name="gender"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
		</div>
		<div class="clearfix form-style">
			<label>Sexual Orientation</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(sexualOrientation$ | async) || []"
				formControlName="sexOrientationId"
				name="sexOrientation"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
		</div>
		<div class="clearfix form-style">
			<label>Race</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(race$ | async) || []"
				formControlName="raceId"
				name="race"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
		</div>
		<div class="clearfix form-style">
			<label>Languages</label>
			<kendo-multiselect
				[autoClose]="false"
				[data]="(languages$ | async) || []"
				valueField="id"
				style="min-width: 200px; max-width: 508px; height: 38px; width: 100%"
				textField="name"
				[valuePrimitive]="true"
				[kendoDropDownFilter]="filterSettings"
				formControlName="languageIds"
				name="languages"
				[valuePrimitive]="true"
			>
			</kendo-multiselect>
		</div>
		<div class="clearfix form-style">
			<label>Marital Status</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="maritalStatus"
				textField="name"
				valueField="id"
				formControlName="maritalStatusId"
				style="min-width: 100px; width: 100%"
				name="maritalStatus"
			></advenium-button-selector>
		</div>
		<div class="clearfix form-style">
			<label>Employment</label>
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 100%"
				textField="name"
				[data]="(employement$ | async) || []"
				formControlName="employementId"
				name="employement"
				[valuePrimitive]="true"
			>
			</kendo-combobox>
		</div>
	</div>
</form>
