<kendo-tabstrip>
	<kendo-tabstrip-tab title="General" [selected]="true">
		<ng-template kendoTabContent>
			<advenium-clinician-general-info
				[clinicianId]="clinicianId"
			></advenium-clinician-general-info>
			<advenium-person-info [personId]="(personId$ | async) || ''"></advenium-person-info>
		</ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Demographic">
		<ng-template kendoTabContent>
			<advenium-demographic-info [personId]="(personId$ | async) || ''"></advenium-demographic-info>
		</ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Contacts">
		<ng-template kendoTabContent>
			<advenium-contact-info [personId]="(personId$ | async) || ''"></advenium-contact-info
		></ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Insurance">
		<ng-template kendoTabContent><div>Hellow World4</div> </ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Modality Selection">
		<ng-template kendoTabContent><div>Hellow World5</div> </ng-template>
	</kendo-tabstrip-tab>
</kendo-tabstrip>
