<kendo-tabstrip>
	<kendo-tabstrip-tab title="General" [selected]="true">
		<ng-template kendoTabContent> <div>Hellow World1</div></ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Demographic">
		<ng-template kendoTabContent> <div>Hellow World2</div></ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Contacts">
		<ng-template kendoTabContent> <div>Hellow World3</div></ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Insurance">
		<ng-template kendoTabContent><div>Hellow World4</div> </ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Modality Selection">
		<ng-template kendoTabContent><div>Hellow World5</div> </ng-template>
	</kendo-tabstrip-tab>
</kendo-tabstrip>
