<div class="new-button">
	<button (click)="link()" class="mR10">
		<img src="/assets/images/add-plans.svg" />Add Session Plans
	</button>
	<button
		(click)="unlink()"
		[hidden]="!(selectedItems.length > 0)"
		style="background-color: #ff4656; border-color: #ff4656"
	>
		<img src="/assets/images/delete-link.svg" alt="Logo" />Unlink
	</button>
</div>
<kendo-grid
	[filterable]="true"
	[data]="gridDataWithoutGroup"
	[skip]="gridSettings.state.skip"
	[pageSize]="gridSettings.state.take"
	[filter]="gridSettings.state.filter!"
	[pageable]="{ pageSizes: [5, 10, 20, 50, 100] }"
	[height]="710"
	[reorderable]="true"
	[sortable]="{
		allowUnsort: true,
		mode: 'multiple'
	}"
	[loading]="isLoading"
	[sort]="gridSettings.state.sort!"
	(dataStateChange)="dataStateChange($event)"
	[selectable]="{ enabled: true, checkboxOnly: true }"
	(selectionChange)="selectionChange($event)"
>
	<ng-template kendoGridToolbarTemplate>
		<kendo-grid-spacer></kendo-grid-spacer>
		<kendo-combobox
			valueField="id"
			style="width: 200px"
			textField="title"
			[data]="(gridSettings$ | async) || []"
			[valuePrimitive]="true"
		>
		</kendo-combobox>
		<kendo-grid-column-chooser></kendo-grid-column-chooser>
	</ng-template>
	<kendo-grid-checkbox-column [width]="50" [showSelectAll]="true"></kendo-grid-checkbox-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div
				class="k-icon k-i-sort-asc-sm k-link"
				title="Up"
				(click)="reorder(false, dataItem)"
			></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div
				class="k-icon k-i-sort-desc-sm k-link"
				title="Down"
				(click)="reorder(true, dataItem)"
			></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-column
		*ngFor="let col of columns"
		[title]="col.title"
		[includeInChooser]="col.includeInChooser ?? true"
		[field]="col.field"
		[hidden]="col.hidden!"
		[sortable]="col.sortable ?? true"
		[filterable]="col.filterable"
		[filter]="col.type"
		[style]="col.style || {}"
		[headerStyle]="col.headerStyle || {}"
	>
		<ng-template kendoGridFilterCellTemplate let-filter let-column="column">
			<kendo-grid-string-filter-cell
				*ngIf="col.type === 'text'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-contains-operator></kendo-filter-contains-operator>
				<kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
				<kendo-filter-startswith-operator></kendo-filter-startswith-operator>
				<kendo-filter-endswith-operator></kendo-filter-endswith-operator>
				<kendo-filter-isempty-operator></kendo-filter-isempty-operator>
				<kendo-filter-isnotempty-operator></kendo-filter-isnotempty-operator
			></kendo-grid-string-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'date'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-after-operator></kendo-filter-after-operator>
				<kendo-filter-before-operator></kendo-filter-before-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'numeric'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-gt-operator></kendo-filter-gt-operator>
				<kendo-filter-lt-operator></kendo-filter-lt-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'boolean'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
			</kendo-grid-date-filter-cell> </ng-template
	></kendo-grid-column>
</kendo-grid>
