<form [formGroup]="therapyGroupForm" novalidate>
	<div>
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Clinician</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(clinicians$ | async) || []"
						formControlName="clinicianId"
						[valuePrimitive]="true"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Week Day</label>
					<kendo-combobox
						valueField="name"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"
						formControlName="weekDay"
						[valuePrimitive]="true"
						[disabled]="isViewWeekDay"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>
		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Start Time</label>
					<kendo-timepicker
						formControlName="start"
						[disabled]="isViewStartTime"
						format="hh/mm"
						kendoTextBox
					></kendo-timepicker>
				</div>
			</div>
		</div>

		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Language</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(languages$ | async) || []"
						formControlName="languageId"
						[valuePrimitive]="true"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>

		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Location</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(locations$ | async) || []"
						formControlName="locationId"
						[valuePrimitive]="true"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>

		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Series Plan</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(seriesPlans$ | async) || []"
						formControlName="seriesPlanId"
						[valuePrimitive]="true"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>

		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Modality</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(modalities$ | async) || []"
						formControlName="modalityId"
						[valuePrimitive]="true"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>

		<div class="clearfix w-100">
			<div class="column w-100">
				<div class="w-100">
					<label>Room</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(rooms$ | async) || []"
						formControlName="roomId"
						[valuePrimitive]="true"
					>
					</kendo-combobox>
				</div>
			</div>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
