<div *ngIf="this.settings">
	<advenium-validation-message [service]="validationService"></advenium-validation-message>
	<kendo-dialog
		title="{{ isNew ? 'Create Service' : 'Edit Service' }}"
		*ngIf="editedEvent"
		(close)="closeEdit('cancel')"
		[minWidth]="500"
		[width]="600"
	>
		<advenium-service-editor-form
			[event]="editedEvent"
			[editableFields]="[
				'start',
				'end',
				'patientId',
				'status',
				'deliveryType',
				'serviceTypeId',
				'clinicianId'
			]"
			[displayedFields]="[]"
			(valueChanged)="keepEditedEvent($event)"
			[fields]="settings.fields"
		>
		</advenium-service-editor-form>
		<kendo-dialog-actions>
			<button kendoButton (click)="closeEdit('cancel')">Cancel</button>
			<button kendoButton (click)="closeEdit('save')" primary="true">Save</button>
		</kendo-dialog-actions>
	</kendo-dialog>

	<kendo-scheduler
		style="height: 600px"
		(dateChange)="onDateChange($event)"
		[editable]="true"
		[kendoSchedulerBinding]="viewModel?.events"
		(slotDblClick)="onSlotDblClick($event)"
		(eventDblClick)="onEventDblClick($event)"
		(remove)="onEventDeleteClick($event)"
		[slotClass]="getSlotClass"
		[eventClass]="getEventClass"
		timezone="Etc/UTC"
		[slotDuration]="this.settings.slotDuration"
	>
		<kendo-scheduler-week-view startTime="07:00"> </kendo-scheduler-week-view>
		<kendo-scheduler-day-view startTime="07:00"> </kendo-scheduler-day-view>
		<kendo-scheduler-month-view [eventHeight]="30"> </kendo-scheduler-month-view>
		<kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>

		<kendo-scheduler-timeline-week-view> </kendo-scheduler-timeline-week-view>

		<kendo-scheduler-timeline-month-view> </kendo-scheduler-timeline-month-view>
	</kendo-scheduler>
</div>
