<kendo-tabstrip (tabSelect)="onTabSelect($event)" content>
	<kendo-tabstrip-tab
		*ngFor="let tab of tabs"
		[title]="tab"
		[selected]="currentFragment === (tab | lowercase)"
	>
		<ng-template *ngIf="tab === 'General'" kendoTabContent>
			<advenium-patient-general-info [patientId]="patientId"></advenium-patient-general-info>
			<advenium-person-info [personId]="(personId$ | async) || ''"></advenium-person-info>
		</ng-template>
		<ng-template *ngIf="tab === 'Demographic'" kendoTabContent>
			<advenium-demographic-info [personId]="(personId$ | async) || ''"></advenium-demographic-info>
		</ng-template>
		<ng-template *ngIf="tab === 'Contacts'" kendoTabContent>
			<advenium-contact-info [personId]="(personId$ | async) || ''"></advenium-contact-info
		></ng-template>
		<ng-template *ngIf="tab === 'Insurance'" kendoTabContent>
			<advenium-insurance [personId]="(personId$ | async) || ''"></advenium-insurance>
		</ng-template>
	</kendo-tabstrip-tab>
</kendo-tabstrip>
