<kendo-tabstrip>
	<kendo-tabstrip-tab title="Personal Info" [selected]="true">
		<ng-template kendoTabContent><advenium-persona-info></advenium-persona-info> </ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Demographic">
		<ng-template kendoTabContent>
			<!-- <form [formGroup]="personDemographic"> -->
			<advenium-demographic-info></advenium-demographic-info>
			<!-- </form> -->
		</ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab title="Contact Info">
		<ng-template kendoTabContent> <div>Hellow World3</div></ng-template>
	</kendo-tabstrip-tab>

	<kendo-tabstrip-tab title="Insurance">
		<ng-template kendoTabContent><div>Hellow World4</div> </ng-template>
	</kendo-tabstrip-tab>
</kendo-tabstrip>
