<form [formGroup]="clinicianInfoForm" novalidate style="max-width: 724px; padding-left: 10px">
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style first-form">
				<label>Type</label>
				<kendo-combobox
					valueField="id"
					textField="name"
					[data]="type$ | async"
					formControlName="typeId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>npi</label>
				<input formControlName="npi" name="npi" class="k-textbox" />
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Billing Code</label>
				<input formControlName="billingCode" name="billingCode" class="k-textbox" />
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Supervisor</label>
				<input
					type="checkbox"
					formControlName="isSupervisor"
					name="isSupervisor"
					class="k-checkbox"
				/>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Title</label>
				<input formControlName="title" name="title" class="k-textbox" />
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Area Ids</label>
				<kendo-multiselect
					[autoClose]="false"
					[data]="(area$ | async) || []"
					valueField="id"
					style="min-width: 200px; max-width: 508px; height: 38px; width: 100%"
					textField="name"
					[valuePrimitive]="true"
					[kendoDropDownFilter]="filterSettings"
					formControlName="areaIds"
					name="areaIds"
					[valuePrimitive]="true"
				>
				</kendo-multiselect>
			</div>
		</div>
	</div>
</form>
