<form *ngIf="this.contactsForm" [formGroup]="contactsForm" novalidate>
	<div>
		<div class="clearfix">
			<div class="column">
				<advenium-label [metaData]="metaData" style="width: 100px" field="email"> </advenium-label>
			</div>
			<div class="column">
				<input
					name="email"
					formControlName="email"
					kendoTextBox
					class="k-textbox"
					style="width: 300px"
					maxlength="250"
				/>
			</div>
		</div>
		<div class="clearfix">
			<div class="column">
				<advenium-label [metaData]="metaData" style="width: 100px" field="mobilePhone">
				</advenium-label>
			</div>
			<div class="column mL5">
				<kendo-maskedtextbox [mask]="phoneMask" formControlName="mobilePhone" style="width: 150px">
				</kendo-maskedtextbox>
			</div>
			<div class="column mL5">
				<kendo-combobox
					valueField="id"
					style="min-width: 200px; width: 100%"
					textField="name"
					[data]="phonePolicyLookup"
					[kendoDropDownFilter]="filterSettings"
					formControlName="mobilePhonePolicyId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
		<div class="clearfix">
			<div class="column">
				<advenium-label [metaData]="metaData" style="width: 100px" field="workPhone">
				</advenium-label>
			</div>
			<div class="column mL5">
				<kendo-maskedtextbox [mask]="phoneMask" formControlName="workPhone" style="width: 150px">
				</kendo-maskedtextbox>
			</div>
			<div class="column mL5">
				<kendo-combobox
					valueField="id"
					style="min-width: 200px; width: 100%"
					textField="name"
					[data]="phonePolicyLookup"
					[kendoDropDownFilter]="filterSettings"
					formControlName="workPhonePolicyId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
		<div class="clearfix">
			<div class="column">
				<advenium-label [metaData]="metaData" style="width: 100px" field="homePhone">
				</advenium-label>
			</div>
			<div class="column mL5">
				<kendo-maskedtextbox [mask]="phoneMask" formControlName="homePhone" style="width: 150px">
				</kendo-maskedtextbox>
			</div>
			<div class="column mL5">
				<kendo-combobox
					valueField="id"
					style="min-width: 200px; width: 100%"
					textField="name"
					[data]="phonePolicyLookup"
					[kendoDropDownFilter]="filterSettings"
					formControlName="homePhonePolicyId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
		<div class="clearfix">
			<div class="column">
				<advenium-label [metaData]="metaData" style="width: 100px" field="otherPhone">
				</advenium-label>
			</div>
			<div class="column mL5">
				<kendo-maskedtextbox formControlName="otherPhone" [mask]="phoneMask" style="width: 150px">
				</kendo-maskedtextbox>
			</div>
			<div class="column mL5">
				<kendo-combobox
					valueField="id"
					style="min-width: 200px; width: 100%"
					textField="name"
					[data]="phonePolicyLookup"
					[kendoDropDownFilter]="filterSettings"
					formControlName="otherPhonePolicyId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
		<div class="clearfix">
			<div class="column">
				<advenium-label [metaData]="metaData" style="width: 100px" field="primaryPhoneType">
				</advenium-label>
			</div>
			<div class="column mL5">
				<kendo-combobox
					valueField="id"
					style="min-width: 200px; width: 100%"
					textField="name"
					[data]="phoneTypeLookup"
					[kendoDropDownFilter]="filterSettings"
					formControlName="primaryPhoneType"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
	</div>
</form>
