<kendo-floatinglabel *ngIf="showTitle; else elseDatetime" [text]="label" [ngClass]="class">
	<kendo-datepicker
		*ngIf="!type || type == dateTimeTypes.Date"
		#datePicker
		[activeView]="activeView"
		[bottomView]="bottomView"
		[disabled]="disabled"
		[disabledDates]="disabledDates"
		[disabledDatesValidation]="disabledDatesValidation"
		[focusedDate]="focusedDate"
		[format]="format"
		[formatPlaceholder]="formatPlaceholder"
		[formControl]="formControl"
		[max]="max"
		[min]="min"
		[navigation]="navigation"
		[placeholder]="placeholder"
		[popupSettings]="popupSettings"
		[rangeValidation]="rangeValidation"
		[readonly]="readonly"
		[tabindex]="tabindex"
		[title]="title"
		[topView]="topView"
		[value]="value"
		[weekNumber]="weekNumber"
		(blur)="blur.emit($event)"
		(close)="close.emit($event)"
		(focus)="focus.emit($event)"
		(open)="open.emit($event)"
		(valueChange)="valueChanged($event)"
	>
		<ng-template kendoCalendarHeaderTitleTemplate let-title let-date="date">
			<span class="title">{{ title }}</span>
			<span
				class="k-icon k-i-arrow-60-left calendar-previous-button"
				(click)="navigate($event, -1)"
			></span>
			<span
				class="k-icon k-i-arrow-60-right calendar-next-button"
				(click)="navigate($event, 1)"
			></span>
			<span class="calendar-footer-date" (click)="selectToday()">
				{{ today | date: 'fullDate' }}
			</span>
		</ng-template>
		<ng-template kendoCalendarYearCellTemplate let-context="cellContext">
			<div class="calendar-cell-centered" [ngClass]="{ transparent: !checkDate(context.value) }">
				{{ context.formattedValue }}
			</div>
		</ng-template>
		<ng-template kendoCalendarDecadeCellTemplate let-context="cellContext">
			<div class="calendar-cell-centered" [ngClass]="{ transparent: !checkDate(context.value) }">
				{{ context.formattedValue }}
			</div>
		</ng-template>
	</kendo-datepicker>
	<kendo-datetimepicker
		*ngIf="type == dateTimeTypes.DateTime"
		[disabled]="disabled"
		[disabledDates]="disabledDates"
		[disabledDatesValidation]="disabledDatesValidation"
		[focusedDate]="focusedDate"
		[format]="format"
		[formatPlaceholder]="formatPlaceholder"
		[formControl]="formControl"
		[max]="max"
		[min]="min"
		[placeholder]="placeholder"
		[popupSettings]="popupSettings"
		[rangeValidation]="rangeValidation"
		[readonly]="readonly"
		[tabindex]="tabindex"
		[title]="title"
		[value]="value"
		[weekNumber]="weekNumber"
		(blur)="blur.emit($event)"
		(close)="close.emit($event)"
		(focus)="focus.emit($event)"
		(open)="open.emit($event)"
		(valueChange)="valueChanged($event)"
	>
	</kendo-datetimepicker>
	<kendo-timepicker
		*ngIf="type == dateTimeTypes.Time"
		[formControl]="formControl"
		[placeholder]="placeholder"
		[value]="value"
		(valueChange)="valueChanged($event)"
	>
	</kendo-timepicker>
</kendo-floatinglabel>
<ng-template #elseDatetime>
	<kendo-datepicker
		*ngIf="!type || type == dateTimeTypes.Date"
		#datePicker
		[activeView]="activeView"
		[bottomView]="bottomView"
		[disabled]="disabled"
		[disabledDates]="disabledDates"
		[disabledDatesValidation]="disabledDatesValidation"
		[focusedDate]="focusedDate"
		[format]="format"
		[formatPlaceholder]="formatPlaceholder"
		[formControl]="formControl"
		[max]="max"
		[min]="min"
		[navigation]="navigation"
		[placeholder]="placeholder"
		[popupSettings]="popupSettings"
		[rangeValidation]="rangeValidation"
		[readonly]="readonly"
		[tabindex]="tabindex"
		[title]="title"
		[topView]="topView"
		[value]="value"
		[weekNumber]="weekNumber"
		(blur)="blur.emit($event)"
		(close)="close.emit($event)"
		(focus)="focus.emit($event)"
		(open)="open.emit($event)"
		(valueChange)="valueChanged($event)"
	>
		<ng-template kendoCalendarHeaderTitleTemplate let-title let-date="date">
			<span class="title">
				{{ title.replace(' ' + date.getFullYear(), '') }}
			</span>
			<span
				class="k-icon k-i-arrow-60-left calendar-previous-button"
				(click)="navigate($event, -1)"
			></span>
			<span
				class="k-icon k-i-arrow-60-right calendar-next-button"
				(click)="navigate($event, 1)"
			></span>
			<span class="calendar-footer-date" (click)="selectToday()">
				{{ today | date: 'fullDate' }}
			</span>
		</ng-template>
		<ng-template kendoCalendarYearCellTemplate let-context="cellContext">
			<div class="calendar-cell-centered" [ngClass]="{ transparent: !checkDate(context.value) }">
				{{ context.formattedValue }}
			</div>
		</ng-template>
		<ng-template kendoCalendarDecadeCellTemplate let-context="cellContext">
			<div class="calendar-cell-centered" [ngClass]="{ transparent: !checkDate(context.value) }">
				{{ context.formattedValue }}
			</div>
		</ng-template>
	</kendo-datepicker>
	<kendo-datetimepicker
		*ngIf="type == dateTimeTypes.DateTime"
		[disabled]="disabled"
		[disabledDates]="disabledDates"
		[disabledDatesValidation]="disabledDatesValidation"
		[focusedDate]="focusedDate"
		[format]="format"
		[formatPlaceholder]="formatPlaceholder"
		[formControl]="formControl"
		[max]="max"
		[min]="min"
		[placeholder]="placeholder"
		[popupSettings]="popupSettings"
		[rangeValidation]="rangeValidation"
		[readonly]="readonly"
		[tabindex]="tabindex"
		[title]="title"
		[value]="value"
		[weekNumber]="weekNumber"
		(blur)="blur.emit($event)"
		(close)="close.emit($event)"
		(focus)="focus.emit($event)"
		(open)="open.emit($event)"
		(valueChange)="valueChanged($event)"
	>
	</kendo-datetimepicker>
	<kendo-timepicker
		*ngIf="type == dateTimeTypes.Time"
		[formControl]="formControl"
		[placeholder]="placeholder"
		[value]="value"
		(valueChange)="valueChanged($event)"
	>
	</kendo-timepicker>
</ng-template>
