<advenium-clinician-filter [filterId]="filterId"> </advenium-clinician-filter>
<advenium-clinician-details
	[isEditMode]=true
	(reloadData)="reloadGrid()"
>
<!-- (cancelEditing)="closeEditor()" -->
<!-- [model]="clinicianModel$ | async" -->
<!-- *ngIf="clinicianModel$ | async" -->
</advenium-clinician-details>

<advenium-data-list
	[gridId]="gridId"
	[filterId]="filterId"
	[controller]="'clinician'"
	[createButton]="createButton()"
	[columns]="columns()"
	[linkArray]="linkArray"
>
</advenium-data-list>
