<span #anchor></span><button (click)="onToggle()" class="k-button">Manage Columns</button>
<kendo-dialog
	title="Manage Columns"
	*ngIf="this.show"
	(close)="this.show = false"
	[minWidth]="600"
	[width]="700"
	[height]="500"
>
	<div class="clearfix w-100">
		<div class="column">
			<div class="clearfix">
				<div>
					<h6>Visible Columns:</h6>
				</div>
				<div>
					<div *ngFor="let item of this.columns" class="mB5">
						<label class="k-label">
							<input
								kendoCheckBox
								name="{{ item.title }}"
								type="checkbox"
								(change)="onSelect(item)"
								checked="{{ item.visible !== false ? 'checked' : '' }}"
							/>
							{{ item.title }}
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="column mL250">
			<div class="clearfix">
				<div>
					<h6>Sort Order:</h6>
				</div>
				<div>
					<advenium-grid-sort-editor
						[gridId]="gridId"
						[filterId]="filterId"
					></advenium-grid-sort-editor>
				</div>
			</div>
		</div>
	</div>
</kendo-dialog>
