<advenium-modality-table storePath='modalityTable' controller='modality' >
</advenium-modality-table>
<!-- <span class="column right adv-toolbar-left-margin">
    <button (click)="openNewItem()"
     class="k-button adv-button">New Modality</button>
</span>
<kendo-grid
    [filterable]="true"
    [groupable]="true"
	[data]="{total: totalData, data: gridData}"
    [sortable]="true"
    [resizable]="true"
    [loading]="isLoading"
    [skip]="filter.countSkipItems"
    [pageSize]="filter.take"
    (dataStateChange)="this.onDataStateChange($event)"
    [pageable]="{ pageSizes: [5, 10, 20, 50, 100] }"
    [height]="510">
        <kendo-grid-column filter="text" [filterable]="true" field="name" title="Name" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="address" title="Address" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="Modify" title=" " [width]="35">
            <ng-template kendoGridCellTemplate let-dataItem>
              <advenium-grid-modify-cell (action)="editItem(dataItem)" [allow]="true">
              </advenium-grid-modify-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Duplicate" title=" " [width]="35">
            <ng-template kendoGridCellTemplate let-dataItem>
              <advenium-grid-duplicate-cell (action)="dublicateItem(dataItem)" [allow]="true">
              </advenium-grid-duplicate-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Remove" title=" " [width]="35" >
            <ng-template kendoGridCellTemplate let-dataItem>
              <advenium-grid-remove-cell (action)="removeItem(dataItem)">
              </advenium-grid-remove-cell>
            </ng-template>
        </kendo-grid-column>
</kendo-grid>   

<advenium-modality-details *ngIf="modalityModel"
    [model]="modalityModel"
  >
</advenium-modality-details> -->
