<form [formGroup]="patientInfoForm" novalidate style="max-width: 724px; padding-left: 10px">
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style first-form">
				<label>Status</label>
				<kendo-combobox
					style="width: 100%"
					valueField="id"
					textField="name"
					[data]="status$ | async"
					formControlName="statusId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
	</div>
	<div class="clearfix w-100">
		<div class="column w-100">
			<div class="w-100 form-style">
				<label>Area</label>
				<kendo-combobox
					style="width: 100%"
					valueField="id"
					textField="name"
					[data]="area$ | async"
					formControlName="areaId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
		</div>
	</div>
</form>
