<div *ngIf="form">
	<div *ngIf="!this.hideTitle">
		<div *ngFor="let person of getFormPersons()">
			<a [routerLink]="person.routerLink" *ngIf="person.routerLink; else justName"
				>{{ person.role }}: {{ person.name }}</a
			>
			<ng-template #justName> {{ person.role }}: {{ person.name }} </ng-template>
		</div>
	</div>
	<div class="mT10" *ngIf="form.revision.uploadMessage">
		<span>{{ form.revision.uploadMessage }}</span>
	</div>
	<kendo-toolbar>
		<kendo-toolbar-button [text]="getPageCount()" *ngIf="showPageCount()"> </kendo-toolbar-button>

		<kendo-toolbar-button
			[text]="'Reset To Initial Form'"
			#btnReset
			*ngIf="isEditingForm()"
			(click)="onResetClick()"
		></kendo-toolbar-button>
		<kendo-toolbar-button
			[text]="'Save Form'"
			#btnSave
			*ngIf="isEditingForm()"
			[primary]="formEditorService.changed"
			(click)="onSaveClick()"
			[disabled]="!formEditorService.changed"
		></kendo-toolbar-button>
		<kendo-toolbar-button
			[text]="'Publish Form'"
			#btnPublish
			*ngIf="isEditingForm()"
			[disabled]="formEditorService.changed"
			(click)="onPublishClick()"
		></kendo-toolbar-button>
		<kendo-toolbar-button
			[text]="'Download'"
			#btnDownload
			*ngIf="isDownloadable()"
			(click)="onDownloadClick()"
		></kendo-toolbar-button>
		<kendo-toolbar-button
			[text]="'Append Pages'"
			*ngIf="canAppend()"
			#btnAppend
			(click)="onAppendClick()"
		></kendo-toolbar-button>
		<kendo-toolbar-button
			[text]="'Upload File'"
			*ngIf="canUpload()"
			#btnUpload
			(click)="onUploadClick()"
		></kendo-toolbar-button>
		<kendo-toolbar-button
			[text]="'Delete All Pages'"
			*ngIf="canRemoveFiles()"
			#btnRemoveFiles
			(click)="onRemoveFilesClick()"
		></kendo-toolbar-button>
		<kendo-toolbar-button
			[text]="'Reopen for Edit'"
			#btnReopen
			(click)="onReopenClick()"
			*ngIf="canReopen()"
		>
		</kendo-toolbar-button>
	</kendo-toolbar>

	<advenium-validation-message [service]="validationService"></advenium-validation-message>
	<advenium-form-upload
		*ngIf="showUpload"
		[formTypeId]="form.revision.id"
		[multiple]="canUploadMultiple()"
		[formPersons]="formPersons"
		[formId]="form.id"
		[formEditorService]="formEditorService"
		[validationService]="validationService"
	></advenium-form-upload>
	<advenium-view-pdffile *ngIf="form.file" [file]="form.file"></advenium-view-pdffile>
	<advenium-edit-pdffile *ngIf="isPdfEditor()" [form]="form" [formAction]="formAction">
	</advenium-edit-pdffile>
</div>
