<div [ngStyle]="{ 'font-size': '23px', 'font-weight': 'bold', margin: '15px 0' }">
	Assessment questions
</div>
<div class="new-button">
	<button (click)="toAssessments()">To Assessments</button>
	<kendo-combobox
		valueField="id"
		style="min-width: 200px; width: 300px; height: 38px; padding: 0 16px"
		textField="name"
		[data]="languagesDropdown$ | async"
		[formControl]="language"
		(selectionChange)="selectionChangeLanguage($event)"
		[valuePrimitive]="true"
		placeholder="Language"
	>
	</kendo-combobox>
	<button (click)="openDialog()"><img src="/assets/images/player.svg" />New Question</button>
</div>
<kendo-grid
	[filterable]="true"
	[data]="gridDataWithoutGroup"
	[sortable]="false"
	[skip]="gridSettings.state.skip"
	[pageSize]="gridSettings.state.take"
	[filter]="gridSettings.state.filter!"
	[pageable]="{ pageSizes: [5, 10, 20, 50, 100] }"
	[height]="710"
	(cellClick)="onCellClick($event)"
	[loading]="isLoading"
	[sort]="gridSettings.state.sort!"
	(dataStateChange)="dataStateChange($event)"
>
	<ng-template kendoGridToolbarTemplate>
		<kendo-grid-spacer></kendo-grid-spacer>
		<kendo-grid-column-chooser></kendo-grid-column-chooser>
	</ng-template>
	<kendo-grid-command-column *ngIf="id" [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div
				class="k-icon k-i-sort-asc-sm k-link"
				title="Up"
				(click)="reorder(false, dataItem)"
			></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column *ngIf="id" [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div
				class="k-icon k-i-sort-desc-sm k-link"
				title="Down"
				(click)="reorder(true, dataItem)"
			></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-column
		*ngFor="let col of columns"
		[title]="col.title"
		[field]="col.field"
		[hidden]="col.hidden!"
		[filterable]="col.filterable"
		[filter]="col.type"
		[includeInChooser]="col.includeInChooser || true"
	>
		<ng-template *ngIf="col.field === 'translated'" kendoGridCellTemplate let-dataItem>
			<div>{{ dataItem.translated ? 'YES' : 'NO' }}</div>
		</ng-template>
		<ng-template *ngIf="col.field === 'legends'" kendoGridCellTemplate let-dataItem>
			<div *ngFor="let leg of dataItem.legends">
				{{ leg.name }}
			</div>
		</ng-template>
		<ng-template kendoGridFilterCellTemplate let-filter let-column="column">
			<kendo-grid-string-filter-cell
				*ngIf="col.type === 'text'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-contains-operator></kendo-filter-contains-operator>
				<kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
				<kendo-filter-startswith-operator></kendo-filter-startswith-operator>
				<kendo-filter-endswith-operator></kendo-filter-endswith-operator>
				<kendo-filter-isempty-operator></kendo-filter-isempty-operator>
				<kendo-filter-isnotempty-operator></kendo-filter-isnotempty-operator
			></kendo-grid-string-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'date'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-after-operator></kendo-filter-after-operator>
				<kendo-filter-before-operator></kendo-filter-before-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'numeric'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-gt-operator></kendo-filter-gt-operator>
				<kendo-filter-lt-operator></kendo-filter-lt-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'boolean'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
			</kendo-grid-date-filter-cell> </ng-template
	></kendo-grid-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div class="k-icon k-i-edit k-link" (click)="openDialog(dataItem)"></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div class="k-icon k-i-copy k-link" (click)="openDialog(dataItem, true)"></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div
				class="k-icon k-i-trash k-link"
				title="Modify"
				(click)="deleteWithPopup(dataItem.id)"
			></div>
		</ng-template>
	</kendo-grid-command-column>
</kendo-grid>
<div kendoDialogContainer></div>
