<div class="custom-toolbar">
	<div><img src="/assets/images/logo-adv.svg" kendoButton look="flat" /></div>
	<div>
		<span><img src="/assets/images/bell.svg" /></span>
		<span class="avatar"><img src="/assets/images/avatar.svg" /></span>
		<span class="user-name">{{ nameUser }}</span>
		<span class="logout" (click)="logout()">
			<span class="k-icon k-i-logout"></span>
		</span>
	</div>
</div>
<kendo-drawer-container>
	<kendo-drawer
		#drawer
		[items]="items"
		mode="push"
		[autoCollapse]="false"
		[expanded]="true"
		(select)="onSelect($event)"
	>
	</kendo-drawer>
	<kendo-drawer-content>
		<advenium-home-breadcrumb> </advenium-home-breadcrumb>
		<router-outlet></router-outlet>
	</kendo-drawer-content>
</kendo-drawer-container>
