kendo-drawer-container {
	flex: 1 1 auto;
	overflow-y: auto;
}
kendo-drawer-content {
	padding: 10px;
}

:host ::ng-deep .k-drawer-item.k-state-selected {
	background: #631ed3;
}
:host ::ng-deep .k-button-primary,
.k-button.k-primary {
	background: #631ed3;
}
:host ::ng-deep .k-dialog-titlebar {
	background: #631ed3;
}

:host ::ng-deep .k-breadcrumb-link {
	color: #89949e;
}
:host ::ng-deep .k-pager-numbers .k-link {
	color: #631ed3;
}
:host ::ng-deep .k-pager-numbers .k-link.k-state-selected {
	color: #631ed3;
	background: rgba(99, 30, 211, 0.2);
}
.k-icon {
	font-size: 20px;
}
.custom-toolbar {
	padding: 22px;
	width: 100%;
	background: #f7f9fb;
	box-shadow: 0px 1px 0px #dfe2e6;
	line-height: 10px;
	border-bottom: inset;
	border-bottom-width: 1px;
	color: #656565;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title-box {
	margin-left: 20px;
	font-weight: bold;
	font-size: 17px;
}
.button-logout {
	margin-right: 5px;
	color: blue;
	font-weight: bold;
	font-size: 17px;
}

.user-name {
	margin: 0px 15px;
}
.avatar {
	margin-left: 30px;
}
.logout {
	cursor: pointer;
	// display: flex;
}
.new-player-button {
	display: flex;
	justify-content: flex-end;

	button {
		margin-bottom: 10px;
		width: 160px;
		background-color: #631ed3;
		color: white;
		height: 38px;
		border-radius: 4px;
		border: 1px solid #631ed3;
		img {
			margin-right: 10px;
		}
	}
}
