<form [formGroup]="myContactForm">
	<div class="clearfix">
		<div>
			<label>Email / Internet</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="isInternet"
				textField="name"
				valueField="id"
				formControlName="useInternet"
				name="useInternet"
				style="min-width: 100px; width: 40%"
			></advenium-button-selector>
		</div>
		<div>
			<label>Email Address</label>
			<input
				name="email"
				formControlName="email"
				kendoTextBox
				class="k-textbox"
				style="width: 100%"
				maxlength="250"
			/>
		</div>
		<div>
			<label>Phones</label>
		</div>
		<div *ngFor="let phone of phones.controls; let i = index">
			<ng-container [formGroupName]="i">
				<div class="column w-100">
					<div class="w-100">
						<input
							name="phone"
							formControlName="phone"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
				<input type="checkbox" formControlName="noVoice" name="noVoice" />
				<label for="noVoice">No voice messages</label>
				<input type="checkbox" formControlName="noText" name="noText" />
				<label for="noText">No text messages</label>
				<input type="checkbox" formControlName="isPreferred" name="isPreferred" />
				<label for="isPreferred">Prefererd</label>
			</ng-container>
		</div>

		<div *ngFor="let skill of phones?.controls; index as i">
			<ng-container [formGroupName]="i">
				<div class="column w-100">
					<div class="w-100">
						<input
							name="phone"
							formControlName="phone"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
				<input type="checkbox" formControlName="noVoice" name="noVoice" />
				<label for="noVoice">No voice messages</label>
				<input type="checkbox" formControlName="noText" name="noText" />
				<label for="noText">No text messages</label>
				<input type="checkbox" formControlName="isPreferred" name="isPreferred" />
				<label for="isPreferred">Prefererd</label>
			</ng-container>
		</div>

		<button (click)="addPhone()">Add phone</button>

		<div>
			<label>Preferred Contact Method</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="preferredContact"
				textField="name"
				valueField="id"
				formControlName="preferredContactId"
				name="preferredContactId"
				style="min-width: 100px; width: 40%"
			></advenium-button-selector>
		</div>
	</div>
	<advenium-phone></advenium-phone>
</form>
