<form [formGroup]="contactForm" style="max-width: 724px; padding-left: 10px">
	<div class="clearfix">
		<div class="form-style first-form">
			<label>Email / Internet</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="isInternet"
				textField="name"
				valueField="id"
				formControlName="useInternet"
				name="useInternet"
				style="min-width: 100px; width: 100%"
			></advenium-button-selector>
		</div>
		<div class="form-style">
			<label>Email Address</label>
			<input
				name="email"
				formControlName="email"
				kendoTextBox
				class="k-textbox"
				style="width: 100%"
				maxlength="250"
			/>
		</div>
		<div class="form-style">
			<label style="align-self: flex-start; padding-top: 7px">Phones</label>
			<div class="w-100">
				<ng-container formArrayName="phones">
					<div *ngFor="let phone of phones?.controls; index as i" style="display: flex">
						<advenium-phone [formControlName]="i" class="w-100"></advenium-phone>
						<button (click)="removePhone(i)" class="button-delete">
							<img src="/assets/images/delete.svg" style="width: 17.5px; height: 20px" />
						</button>
					</div>
				</ng-container>
				<button
					(click)="addPhone()"
					style="width: 100%; max-width: 508px; height: 30px; border-color: #f7f9fb"
				>
					<img src="/assets/images/add-phone.svg" style="margin-right: 10px" />Add phone number
				</button>
			</div>
		</div>

		<div class="w-100 form-style">
			<label>Preferred Contact Method</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="preferredContact"
				textField="name"
				valueField="id"
				formControlName="preferredContactId"
				name="preferredContactId"
				style="min-width: 100px; width: 100%"
			></advenium-button-selector>
		</div>
	</div>
</form>
