<form [formGroup]="myContactForm">
	<div class="clearfix">
		<div>
			<label>Email / Internet</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="isInternet"
				textField="name"
				valueField="id"
				formControlName="useInternet"
				name="useInternet"
				style="min-width: 100px; width: 40%"
			></advenium-button-selector>
		</div>
		<div>
			<label>Email Address</label>
			<input
				name="email"
				formControlName="email"
				kendoTextBox
				class="k-textbox"
				style="width: 100%"
				maxlength="250"
			/>
		</div>
		<label>Phones</label>
		<ng-container formArrayName="phones">
			<div *ngFor="let phone of phones?.controls; index as i">
				<advenium-phone [formControlName]="i"></advenium-phone>
				<button (click)="removePhone(i)">delete</button>
			</div>
		</ng-container>

		<button (click)="addPhone()">Add phone</button>
		<div>
			<label>Preferred Contact Method</label>
			<advenium-button-selector
				[disabled]="false"
				[items]="preferredContact"
				textField="name"
				valueField="id"
				formControlName="preferredContactId"
				name="preferredContactId"
				style="min-width: 100px; width: 40%"
			></advenium-button-selector>
		</div>
	</div>
</form>
