<div class="clearfix w-100">
	<div class="column">
		<kendo-dropdownbutton
			[data]="this.operations()"
			textField="name"
			(itemClick)="onSelect($event)"
		>
			<span>{{ title() }}</span>
		</kendo-dropdownbutton>
	</div>
	<div class="column mL5 w-100">
		<advenium-grid-value-filter
			class="w-90"
			*ngIf="this.isValueFilter()"
			[gridId]="gridId"
			[filterId]="filterId"
			[filter]="filter"
		></advenium-grid-value-filter>
		<advenium-grid-interval-filter
			*ngIf="this.isIntervalFilter()"
			[gridId]="gridId"
			[filterId]="filterId"
			[filter]="filter"
		></advenium-grid-interval-filter>
		<advenium-grid-date-filter
			*ngIf="this.isDateFilter()"
			[gridId]="gridId"
			[filterId]="filterId"
			[filter]="filter"
		></advenium-grid-date-filter>
	</div>
</div>
