.header {
	display: flex;
	justify-content: space-between;
}

.container-location-info {
	width: 616px;
	padding: 24px;
	margin-bottom: 20px;
	border-radius: 8px;
	background-color: #eff2f5;
	display: flex;
	justify-content: space-between;
}

.heading-info {
	font-weight: 700;
	font-size: 18px;
	color: black;
	margin-bottom: 24px;
}

.names-and-info {
	display: flex;
}

.names-info {
	width: 200px;
}

.name-info {
	font-weight: 400;
	font-size: 15px;
	opacity: 0.7;
	margin: 5px 0;
	color: black;
}

.infos {
	width: 200px;
}

.info {
	font-weight: 400;
	font-size: 15px;
	margin: 5px 0;
	min-height: 20px;
	color: black;
}

.button-edit {
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px 16px;
	background-color: transparent;
	img {
		margin: 9px;
		color: black;
	}
	span {
		font-size: 13px;
		font-weight: 600;
		color: black;
	}
}

.back-button {
	margin: 15px 0;
	display: flex;

	button {
		margin-bottom: 10px;
		padding: 0px 10px;
		background-color: #631ed3;
		color: white;
		height: 38px;
		border-radius: 4px;
		border: 1px solid #631ed3;
		img {
			margin-right: 10px;
		}
	}
}
