<div class="header">
	<div [ngStyle]="{ 'font-size': '23px', 'font-weight': 'bold', margin: '15px 0' }">Room</div>
	<div class="new-button">
		<button (click)="openDialog()"><img src="/assets/images/player.svg" />New Room</button>
	</div>
</div>
<div class="back-button">
	<button (click)="back()">Back</button>
</div>
<div class="container-location-info">
	<div>
		<div class="heading-info">Location info</div>
		<div class="names-and-info">
			<div class="names-info">
				<div class="name-info">Name</div>
				<div class="name-info">Full address</div>
				<div class="name-info">Billing code</div>
				<div class="name-info">Code</div>
				<div class="name-info">Initiative ids</div>
			</div>
			<div class="infos">
				<div class="info">{{ infoLocation?.name }}</div>
				<div class="info">
					{{ infoLocation?.address?.state }}
					{{ infoLocation?.address?.zip }}
				</div>
				<div class="info">{{ infoLocation?.billingCode }}</div>
				<div class="info">{{ infoLocation?.code }}</div>

				<div class="info" *ngFor="let initiativeId of initiativeIds; index as i">
					<span>{{ initiativeId }}</span>
					<span *ngIf="i + 1 !== initiativeIds?.length">, </span>
				</div>
			</div>
		</div>
	</div>
	<div>
		<button (click)="openDialogLocation()" class="button-edit">
			<img src="/assets/images/edit.svg" />
			<span>Edit</span>
		</button>
	</div>
</div>
<kendo-grid
	[filterable]="true"
	[data]="gridDataWithoutGroup"
	[sortable]="{
		allowUnsort: true,
		mode: 'multiple'
	}"
	[reorderable]="true"
	[skip]="gridSettings.state.skip"
	[pageSize]="gridSettings.state.take"
	[filter]="gridSettings.state.filter!"
	[pageable]="{ pageSizes: [5, 10, 20, 50, 100] }"
	[height]="710"
	[loading]="isLoading"
	[sort]="gridSettings.state.sort!"
	(dataStateChange)="dataStateChange($event)"
	(columnVisibilityChange)="columnVisibilityChange($event)"
	(columnReorder)="columnReorder($event)"
>
	<ng-template kendoGridToolbarTemplate>
		<kendo-grid-spacer></kendo-grid-spacer>
		<div>
			<kendo-dropdownbutton
				(itemClick)="onAction($event)"
				[data]="this.actions()"
				class="adv-button w-100"
				textField="title"
			>
				<span class="fa fa-ellipsis-v"></span>
			</kendo-dropdownbutton>
		</div>
		<kendo-grid-column-chooser [autoSync]="true"></kendo-grid-column-chooser>
		<kendo-combobox
			valueField="id"
			style="width: 200px"
			textField="title"
			[data]="(gridSettings$ | async) || []"
			[valuePrimitive]="true"
		>
		</kendo-combobox>
	</ng-template>
	<kendo-grid-column
		*ngFor="let col of columns"
		[title]="col.title"
		[field]="col.field"
		[hidden]="col.hidden!"
		[filterable]="col.filterable"
		[filter]="col.type"
		><ng-template kendoGridFilterCellTemplate let-filter let-column="column">
			<kendo-grid-string-filter-cell
				*ngIf="col.type === 'text'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-contains-operator></kendo-filter-contains-operator>
				<kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
				<kendo-filter-startswith-operator></kendo-filter-startswith-operator>
				<kendo-filter-endswith-operator></kendo-filter-endswith-operator>
				<kendo-filter-isempty-operator></kendo-filter-isempty-operator>
				<kendo-filter-isnotempty-operator></kendo-filter-isnotempty-operator
			></kendo-grid-string-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'date'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-after-operator></kendo-filter-after-operator>
				<kendo-filter-before-operator></kendo-filter-before-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'numeric'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-gt-operator></kendo-filter-gt-operator>
				<kendo-filter-lt-operator></kendo-filter-lt-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'boolean'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
			</kendo-grid-date-filter-cell> </ng-template
	></kendo-grid-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div (click)="openDialog(dataItem)" class="k-icon k-i-edit k-link"></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div (click)="openDialog(dataItem, true)" class="k-icon k-i-copy k-link"></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div
				(click)="deleteWithPopup(dataItem.id)"
				class="k-icon k-i-trash k-link"
				title="Modify"
			></div>
		</ng-template>
	</kendo-grid-command-column>
</kendo-grid>
<div kendoDialogContainer></div>
