<div *ngIf="active">
	<advenium-validation-message
		*ngIf="showValidation"
		[service]="validationService"
	></advenium-validation-message>
	<form [formGroup]="uploadForm" (ngSubmit)="save(upload)" novalidate>
		<fieldset>
			<div class="k-form-field" *ngIf="this.isDisplayed('formTypeId'); else formType">
				<span>Form Type:</span>
				<kendo-combobox
					[readonly]="!this.isEditable('formTypeId')"
					valueField="id"
					style="min-width: 300px; width: 100%"
					textField="name"
					[data]="formTypeLookup"
					formControlName="formTypeId"
					[valuePrimitive]="true"
				>
				</kendo-combobox>
			</div>
			<ng-template #formType>
				<input type="hidden" formControlName="formTypeId" />
			</ng-template>
			<kendo-upload
				#upload
				formControlName="files"
				[restrictions]="restrictions"
				[autoUpload]="false"
				[multiple]="multiple"
				(select)="selectFile($event)"
				(remove)="removeFile($event)"
			>
			</kendo-upload>
		</fieldset>
		<div class="text-right" *ngIf="showUpload(upload)">
			<button type="submit" class="k-button k-primary">Upload</button>
		</div>
	</form>
</div>
