<form [formGroup]="sessionPlanTranslateForm" novalidate>
	<div *ngIf="isVisible === true">
		<kendo-tabstrip [keepTabContent]="true">
			<kendo-tabstrip-tab [title]="'Outline'" [selected]="true">
				<ng-template kendoTabContent>
					<div class="clearfix w-100" [formGroup]="getOriginal()">
						<label>Original</label>
						<kendo-editor formControlName="outline" [readonly]="true"> </kendo-editor>
					</div>
					<div class="clearfix w-100" [formGroup]="getTranslation()">
						<label>Translation</label>
						<kendo-editor formControlName="outline"> </kendo-editor>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
			<kendo-tabstrip-tab [title]="'Callout 1'">
				<ng-template kendoTabContent>
					<div class="clearfix w-100" [formGroup]="getOriginal()">
						<label>Original</label>
						<kendo-editor formControlName="callout1" [readonly]="true"> </kendo-editor>
					</div>
					<div class="clearfix w-100" [formGroup]="getTranslation()">
						<label>Translation</label>
						<kendo-editor formControlName="callout1"> </kendo-editor>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
			<kendo-tabstrip-tab [title]="'Callout 2'">
				<ng-template kendoTabContent>
					<div class="clearfix w-100" [formGroup]="getOriginal()">
						<label>Original</label>
						<kendo-editor formControlName="callout2" [readonly]="true"> </kendo-editor>
					</div>
					<div class="clearfix w-100" [formGroup]="getTranslation()">
						<label>Translation</label>
						<kendo-editor formControlName="callout2"> </kendo-editor>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
			<kendo-tabstrip-tab [title]="'Callout 3'">
				<ng-template kendoTabContent>
					<div class="clearfix w-100" [formGroup]="getOriginal()">
						<label>Original</label>
						<kendo-editor formControlName="callout3" [readonly]="true"> </kendo-editor>
					</div>
					<div class="clearfix w-100" [formGroup]="getTranslation()">
						<label>Translation</label>
						<kendo-editor formControlName="callout3"> </kendo-editor>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
			<kendo-tabstrip-tab [title]="'Wrapup'">
				<ng-template kendoTabContent>
					<div class="clearfix w-100" [formGroup]="getOriginal()">
						<label>Original</label>
						<kendo-editor formControlName="wrapup" [readonly]="true"> </kendo-editor>
					</div>
					<div class="clearfix w-100" [formGroup]="getTranslation()">
						<label>Translation</label>
						<kendo-editor formControlName="wrapup"> </kendo-editor>
					</div>
				</ng-template>
			</kendo-tabstrip-tab>
		</kendo-tabstrip>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
