<form [formGroup]="myPublicSnipitForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<input
							hidden
							name="id"
							formControlName="id"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Text</label>
						<input
							name="text"
							formControlName="text"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<input
							hidden
							name="categoryId"
							formControlName="categoryId"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Snipit type</label>
						<div>
							<kendo-combobox
								[data]="snipitTypes"
								valueField="id"
								style="min-width: 200px; width: 300px; height: 38px; padding-right: 16px"
								textField="name"
								[valuePrimitive]="true"
								[kendoDropDownFilter]="filterSettings"
								formControlName="type"
							>
							</kendo-combobox>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Snipit category</label>
						<div>
							<kendo-combobox
								[data]="(snipitCategory$ | async) || []"
								valueField="id"
								style="min-width: 200px; width: 300px; height: 38px; padding-right: 16px"
								textField="name"
								[valuePrimitive]="true"
								[kendoDropDownFilter]="filterSettings"
								formControlName="categoryId"
							>
							</kendo-combobox>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
