<form [formGroup]="modalitySelectionForm" novalidate>
	<label>Requested Modalities:</label>
	<kendo-multiselect
		valueField="id"
		style="min-width: 300px; width: 100%"
		textField="name"
		[data]="availableModalities(0)"
		[kendoDropDownFilter]="filterSettings"
		formControlName="requestedModalities"
		[valuePrimitive]="true"
	>
	</kendo-multiselect>
	<label>Denied Modalities:</label>
	<kendo-multiselect
		valueField="id"
		style="min-width: 300px; width: 100%"
		textField="name"
		[data]="availableModalities(2)"
		[kendoDropDownFilter]="filterSettings"
		formControlName="deniedModalities"
		[valuePrimitive]="true"
	>
	</kendo-multiselect>
	<label>Approved Modalities:</label>
	<kendo-multiselect
		valueField="id"
		style="min-width: 300px; width: 100%"
		textField="name"
		[data]="availableModalities(1)"
		[kendoDropDownFilter]="filterSettings"
		formControlName="approvedModalities"
		[valuePrimitive]="true"
	>
	</kendo-multiselect>
</form>
