.parent-menu-item {
	position: relative !important;
	left: 1vw;
	/* Menu */
	height: 2.25vw !important;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1px;

	color: #631ed3 !important;
}

.child-menu-item {
	/* Menu */
	overflow: visible;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1px;

	color: #631ed3 !important;
}
