<div *ngIf="this.formSection">
	<advenium-validation-message [service]="validationService"></advenium-validation-message>
	<kendo-dropdownbutton
		[data]="availableFormTypes()"
		textField="name"
		(itemClick)="onFormCreate($event)"
		*ngIf="this.formSection.groups && !this.formModel"
	>
		<span>Create Form</span>
		<ng-template kendoDropDownButtonItemTemplate let-dataItem>
			<span *ngIf="dataItem.isRequired === true"><sup style="color: red">*</sup></span>
			<span>{{ dataItem.name }}</span>
		</ng-template>
	</kendo-dropdownbutton>

	<button class="mL10" (click)="closeForm($event)" kendoButton *ngIf="this.formModel">
		Back to Forms
	</button>
	<advenium-form-editor *ngIf="this.formModel" [form]="this.formModel" [hideTitle]="true">
	</advenium-form-editor>

	<kendo-grid class="w-100 mT10 mB10" [data]="this.formSection.forms" *ngIf="!this.formModel">
		<kendo-grid-column field="title" title="Form">
			<ng-template kendoGridCellTemplate let-dataItem>
				<a href="#" (click)="openForm($event, dataItem.id)">{{
					dataItem.revision.definition.title
				}}</a>
			</ng-template>
		</kendo-grid-column>
		<kendo-grid-column field="createdBy" title="Created By"> </kendo-grid-column>
		<kendo-grid-column field="createdDate" title="Created"> </kendo-grid-column>
		<kendo-grid-column field="download" title="Download">
			<ng-template kendoGridCellTemplate let-dataItem>
				<a *ngIf="dataItem.file !== null" href="#" (click)="downloadForm($event, dataItem.file)"
					>Download Pdf</a
				>
			</ng-template>
		</kendo-grid-column>
	</kendo-grid>
</div>
