<div class="left">
	<span style="color: #5e6973"
		>{{ allSelectedItems.length === 0 ? 'No' : allSelectedItems.length }} plans selected</span
	>
	<a
		class="mL10"
		href="#"
		style="color: #631ed3"
		(click)="showOnlySelected(true)"
		*ngIf="onlySelected !== true && allSelectedItems.length > 0"
		>Show Only Selected</a
	>
	<a
		class="mL10"
		style="color: #631ed3"
		href="#"
		(click)="showOnlySelected(false)"
		*ngIf="onlySelected === true"
		>Show All Available</a
	>
	<a
		class="mL10"
		href="#"
		(click)="discard()"
		*ngIf="allSelectedItems.length > 0"
		style="color: red"
		>Discard</a
	>
</div>
<div class="new-button">
	<button class="mR10" (click)="backToLinked()">Cancel</button>
	<button (click)="link()" [hidden]="!(allSelectedItems.length > 0)">
		<img src="/assets/images/link.svg" alt="Logo" />Link
	</button>
</div>
<kendo-grid
	[filterable]="true"
	[data]="gridDataWithoutGroup"
	[skip]="gridSettings.state.skip"
	[pageSize]="gridSettings.state.take"
	[filter]="gridSettings.state.filter!"
	[pageable]="{ pageSizes: [5, 10, 20, 50, 100] }"
	[height]="710"
	[reorderable]="true"
	[sortable]="{
		allowUnsort: true,
		mode: 'multiple'
	}"
	[loading]="isLoading"
	[sort]="gridSettings.state.sort!"
	(dataStateChange)="dataStateChange($event)"
	[selectable]="{ enabled: true, checkboxOnly: true }"
	(selectionChange)="selectionChange($event)"
	[rowSelected]="isRowSelected"
>
	<ng-template kendoGridToolbarTemplate>
		<kendo-grid-spacer></kendo-grid-spacer>
		<kendo-grid-column-chooser></kendo-grid-column-chooser>
	</ng-template>
	<kendo-grid-checkbox-column [width]="50" [showSelectAll]="true"></kendo-grid-checkbox-column>
	<kendo-grid-column
		*ngFor="let col of columns"
		[title]="col.title"
		[includeInChooser]="col.includeInChooser ?? true"
		[field]="col.field"
		[hidden]="col.hidden!"
		[sortable]="col.sortable ?? true"
		[filterable]="col.filterable"
		[filter]="col.type"
		[style]="col.style || {}"
		[headerStyle]="col.headerStyle || {}"
	>
		<ng-template kendoGridFilterCellTemplate let-filter let-column="column">
			<kendo-grid-string-filter-cell
				*ngIf="col.type === 'text'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-contains-operator></kendo-filter-contains-operator>
				<kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
				<kendo-filter-startswith-operator></kendo-filter-startswith-operator>
				<kendo-filter-endswith-operator></kendo-filter-endswith-operator>
				<kendo-filter-isempty-operator></kendo-filter-isempty-operator>
				<kendo-filter-isnotempty-operator></kendo-filter-isnotempty-operator
			></kendo-grid-string-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'date'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-after-operator></kendo-filter-after-operator>
				<kendo-filter-before-operator></kendo-filter-before-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'numeric'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-gt-operator></kendo-filter-gt-operator>
				<kendo-filter-lt-operator></kendo-filter-lt-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'boolean'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
			</kendo-grid-date-filter-cell> </ng-template
	></kendo-grid-column>
</kendo-grid>
