<form *ngIf="this.generalForm" [formGroup]="generalForm" novalidate>
	<div class="clearfix">
		<div class="column">
			<div>
				<advenium-label [metaData]="metaData" field="lastname"></advenium-label>
				<br />
				<input
					name="lastname"
					formControlName="lastname"
					kendoTextBox
					class="k-textbox"
					style="width: 110px"
					maxlength="250"
				/>
			</div>
		</div>
		<div class="column mL15">
			<div>
				<advenium-label [metaData]="metaData" field="firstname"> </advenium-label><br />
				<input
					name="firstname"
					formControlName="firstname"
					kendoTextBox
					class="k-textbox"
					style="width: 110px"
					maxlength="250"
				/>
			</div>
		</div>
		<div class="column mL15">
			<div>
				<advenium-label [metaData]="metaData" field="middlename"> </advenium-label><br />
				<input
					name="middlename"
					formControlName="middlename"
					kendoTextBox
					class="k-textbox"
					style="width: 110px"
					maxlength="250"
				/>
			</div>
		</div>
		<div class="column mL15">
			<div>
				<advenium-label [metaData]="metaData" field="dob"> </advenium-label>
				<br />
				<kendo-datepicker name="dob" formControlName="dob"> </kendo-datepicker>
			</div>
		</div>
		<!--
        <div class="column mL15">
            <div>
                <advenium-label 
                    [metaData]="metaData"
                    field="statusId">
                </advenium-label>
                <br />
                <kendo-combobox 
                    valueField="id"
                    style="min-width:300px;width: 100%;"
                    textField="name"
                    [data]="patientStatuses"
                    [kendoDropDownFilter]="filterSettings"
                    formControlName="statusId" [valuePrimitive]="true">
                </kendo-combobox>
            </div>
        </div>
        -->
		<!--
        <div class="column mL15">
            <div>
                <advenium-label [metaData]="metaData" field="areaId"></advenium-label>
                <br />
                <kendo-combobox valueField="id" style="min-width:300px;width: 100%;"
                    textField="title" [data]="areas" [kendoDropDownFilter]="filterSettings"
                    formControlName="areaId" [valuePrimitive]="true">
                </kendo-combobox>
            </div>
        </div>
        -->
		<advenium-address [formControlName]="'address'"></advenium-address>
	</div>
</form>
