<form [formGroup]="locationForm" novalidate>
	<div>
		<div class="p10 form">
			<label>Modality</label><br />
			<kendo-combobox
				valueField="id"
				style="min-width: 200px; width: 300px; height: 38px; padding-right: 16px"
				textField="name"
				[data]="location$ | async"
				formControlName="location"
				placeholder="Location"
			>
			</kendo-combobox>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
