<div [formGroup]="form">
	<div>
		<div class="clearfix">
			<div class="column" style="width: 150px">
				<advenium-label [metaData]="metaData" field="firstname"> </advenium-label>
			</div>
			<div class="column">
				<input
					formControlName="firstname"
					kendoTextBox
					class="k-textbox"
					style="min-width: 300px; width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
		<div class="clearfix">
			<div class="column" style="width: 150px">
				<advenium-label [metaData]="metaData" field="middlename"> </advenium-label>
			</div>
			<div class="column">
				<input
					formControlName="middlename"
					kendoTextBox
					class="k-textbox"
					style="min-width: 300px; width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
		<div class="clearfix">
			<div class="column" style="width: 150px">
				<advenium-label [metaData]="metaData" field="lastname"> </advenium-label>
			</div>
			<div class="column">
				<input
					formControlName="lastname"
					kendoTextBox
					class="k-textbox"
					style="min-width: 300px; width: 100%"
					maxlength="250"
				/>
			</div>
		</div>
		<div class="clearfix">
			<div class="column" style="width: 150px">
				<advenium-label [metaData]="metaData" field="dob"> </advenium-label>
			</div>
			<div class="column">
				<kendo-datepicker formControlName="dob" style="min-width: 300px; width: 100%">
				</kendo-datepicker>
			</div>
		</div>
	</div>
</div>
