<div class="header-form-style">
	<div [ngStyle]="{ 'font-size': '23px', 'font-weight': 'bold', margin: '15px 0' }">
		Session plans
	</div>

	<div class="new-button">
		<kendo-combobox
			valueField="id"
			style="min-width: 200px; width: 300px; height: 38px; padding-right: 16px"
			textField="name"
			[data]="languagesDropdown$ | async"
			[formControl]="language"
			(selectionChange)="selectionChangeLanguage($event)"
			[valuePrimitive]="true"
			placeholder="Language"
		>
		</kendo-combobox>
		<kendo-combobox
			valueField="id"
			style="min-width: 200px; width: 300px; height: 38px; padding-right: 16px"
			textField="name"
			[data]="seriesPlansDropdown$ | async"
			[formControl]="seriesPlan"
			(selectionChange)="selectionChangeSeriesPlan($event)"
			[valuePrimitive]="true"
			placeholder="Series Plan"
		>
		</kendo-combobox>
		<advenium-permission [permissionType]="canCreate">
			<button (click)="openDialog()">
				<img src="/assets/images/add-plans.svg" />New Session Plan
			</button>
		</advenium-permission>
	</div>
</div>

<kendo-grid
	[filterable]="true"
	[data]="gridDataWithoutGroup"
	[skip]="gridSettings.state.skip"
	[pageSize]="gridSettings.state.take"
	[filter]="gridSettings.state.filter!"
	[pageable]="{ pageSizes: [5, 10, 20, 50, 100] }"
	[height]="710"
	[reorderable]="true"
	[sortable]="{
		allowUnsort: true,
		mode: 'multiple'
	}"
	[loading]="isLoading"
	[sort]="gridSettings.state.sort!"
	(dataStateChange)="dataStateChange($event)"
	(columnVisibilityChange)="columnVisibilityChange($event)"
	(columnReorder)="columnReorder($event)"
>
	<ng-template kendoGridToolbarTemplate>
		<kendo-grid-spacer></kendo-grid-spacer>
		<div>
			<kendo-dropdownbutton
				(itemClick)="onAction($event)"
				[data]="this.actions()"
				class="adv-button w-100"
				textField="title"
			>
				<span class="fa fa-ellipsis-v"></span>
			</kendo-dropdownbutton>
		</div>
		<kendo-grid-column-chooser [autoSync]="true"></kendo-grid-column-chooser>
		<kendo-combobox
			valueField="id"
			style="width: 200px"
			textField="title"
			[data]="(gridSettings$ | async) || []"
			[formControl]="gridSettingsControl"
			[valuePrimitive]="true"
		>
		</kendo-combobox>
	</ng-template>
	<kendo-grid-column
		*ngFor="let col of columns"
		[title]="col.title"
		[includeInChooser]="col.includeInChooser ?? true"
		[field]="col.field"
		[hidden]="col.hidden!"
		[sortable]="col.sortable ?? true"
		[filterable]="col.filterable"
		[filter]="col.type"
	>
		<ng-template *ngIf="col.field === 'seriesPlans'" kendoGridCellTemplate let-dataItem>
			<div *ngFor="let seriesPlan of dataItem.seriesPlans">
				{{ seriesPlan.name }}
			</div>
		</ng-template>
		<ng-template *ngIf="col.field === 'translated'" kendoGridCellTemplate let-dataItem>
			<div class="click-element" (click)="openDialogTranslate(dataItem?.id)">
				{{ dataItem.translated }}% translated
			</div>
		</ng-template>

		<ng-template kendoGridFilterCellTemplate let-filter let-column="column">
			<kendo-grid-string-filter-cell
				*ngIf="col.type === 'text'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-contains-operator></kendo-filter-contains-operator>
				<kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
				<kendo-filter-startswith-operator></kendo-filter-startswith-operator>
				<kendo-filter-endswith-operator></kendo-filter-endswith-operator>
				<kendo-filter-isempty-operator></kendo-filter-isempty-operator>
				<kendo-filter-isnotempty-operator></kendo-filter-isnotempty-operator
			></kendo-grid-string-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'date'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-after-operator></kendo-filter-after-operator>
				<kendo-filter-before-operator></kendo-filter-before-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'numeric'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
				<kendo-filter-eq-operator></kendo-filter-eq-operator>
				<kendo-filter-neq-operator></kendo-filter-neq-operator>
				<kendo-filter-gt-operator></kendo-filter-gt-operator>
				<kendo-filter-lt-operator></kendo-filter-lt-operator>
			</kendo-grid-date-filter-cell>
			<kendo-grid-date-filter-cell
				*ngIf="col.type === 'boolean'"
				[showOperators]="true"
				[column]="column"
				[filter]="filter"
			>
			</kendo-grid-date-filter-cell> </ng-template
	></kendo-grid-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<advenium-permission [permissionType]="canUpdate">
				<div class="k-icon k-i-edit k-link" (click)="openDialog(dataItem)"></div>
			</advenium-permission>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div class="k-icon k-i-copy k-link" (click)="openDialog(dataItem, true)"></div>
		</ng-template>
	</kendo-grid-command-column>
	<kendo-grid-command-column [width]="35">
		<ng-template kendoGridCellTemplate let-dataItem>
			<advenium-permission [permissionType]="canUpdate">
				<div
					class="k-icon k-i-trash k-link"
					title="Modify"
					(click)="deleteWithPopup(dataItem.id)"
				></div>
			</advenium-permission>
		</ng-template>
	</kendo-grid-command-column>
</kendo-grid>
<div kendoDialogContainer></div>
