<form [formGroup]="assessmentTemplateForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="clearfix w-100">
				<div style="display: flex; flex-wrap: wrap">
					<div style="margin-right: 20px" *ngFor="let note of autoNotePrefills$ | async">
						<button
							(click)="addToTexterea(note.name)"
							style="margin: 10px 0; padding: 6px"
							class="copy-button"
						>
							{{ note?.name }}
						</button>
					</div>
				</div>
				<div class="column w-100">
					<div class="w-100 first-form">
						<label>Text</label>
						<textarea
							#textTextarea
							(click)="getCurrentPositionCursorTextares(textTextarea)"
							(keyup)="getCurrentPositionCursorTextares(textTextarea)"
							name="text"
							formControlName="text"
							kendoTextBox
							class="k-textbox"
							style="width: 100%; height: 100px"
						></textarea>
					</div>
				</div>
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100 form-style first-form">
							<label>Response Option</label>
							<kendo-combobox
								style="width: 100%"
								formControlName="responseOption"
								textField="name"
								[data]="(responseOption$ | async) || []"
								valueField="id"
								[valuePrimitive]="true"
							>
							</kendo-combobox>
						</div>
					</div>
				</div>
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100 form-style">
							<label>Type</label>
							<kendo-combobox
								style="width: 100%"
								formControlName="type"
								textField="name"
								[data]="(criteriasType$ | async) || []"
								valueField="id"
								[valuePrimitive]="true"
							>
							</kendo-combobox>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
