<form [formGroup]="myForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Name</label>
						<input
							name="name"
							formControlName="name"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Carrier Code</label>
						<input
							name="carrierCode"
							formControlName="carrierCode"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Type</label>
						<kendo-combobox
							valueField="id"
							style="min-width: 200px; width: 100%"
							textField="name"
							[data]="payerTypes"
							[kendoDropDownFilter]="filterSettings"
							formControlName="type"
							[valuePrimitive]="true"
						>
						</kendo-combobox>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Payer Id</label>
						<input
							name="payerId"
							formControlName="payerId"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Notes</label>
						<textarea
							name="notes"
							formControlName="notes"
							kendoTextBox
							class="k-textarea"
							style="width: 100%"
						>
						</textarea>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<advenium-address
					[isHeader]="false"
					formControlName="address"
					name="address"
				></advenium-address>
			</div>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
