<form [formGroup]="insuranceForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Payer</label>
						<kendo-combobox
							valueField="id"
							style="min-width: 200px; width: 100%"
							textField="name"
							[data]="(payers$ | async) || []"
							[kendoDropDownFilter]="filterSettings"
							formControlName="payerId"
							[valuePrimitive]="true"
						>
						</kendo-combobox>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Effective date</label>
						<kendo-datepicker
							formControlName="effectiveDate"
							format="MM/dd/yyyy"
							kendoTextBox
							formatPlaceholder="wide"
						></kendo-datepicker>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Closed date</label>
						<kendo-datepicker
							formControlName="closedDate"
							format="MM/dd/yyyy"
							kendoTextBox
							formatPlaceholder="wide"
						></kendo-datepicker>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Type</label>
						<advenium-button-selector
							[disabled]="false"
							[items]="isInternet"
							textField="name"
							valueField="id"
							formControlName="orderType"
							name="orderType"
							style="min-width: 100px; width: 100%"
						></advenium-button-selector>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Copay</label>
						<input
							name="copay"
							formControlName="copay"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Deductiblet</label>
						<input
							name="deductible"
							formControlName="deductible"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Member ID</label>
						<input
							name="memberId"
							formControlName="memberId"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Employee</label>
						<input
							name="employee"
							formControlName="employee"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Plan name</label>
						<input
							name="planName"
							formControlName="planName"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Policy group</label>
						<input
							name="policyGroup"
							formControlName="policyGroup"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label>Insured party</label>
						<kendo-combobox
							valueField="id"
							style="width: 200px"
							textField="name"
							[data]="(linkedPersons$ | async) || []"
							[kendoDropDownFilter]="filterSettings"
							formControlName="insuranceHolderId"
							[valuePrimitive]="true"
						>
						</kendo-combobox>
						<Button
							class="copy-button"
							*ngIf="
								insuranceForm.value.insuranceHolderId &&
								insuranceForm.value.insuranceHolderId !== personId
							"
							(click)="openDialogCopy()"
						>
							<img src="/assets/images/copy.svg" />
							<span>Copy</span>
						</Button>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100 form-style-insurance">
						<label style="align-self: auto">Verification</label>
						<div class="insurance-form-date">
							<input
								type="checkbox"
								formControlName="isVerified"
								name="isVerified"
								style="margin-bottom: 20px; margin-top: 4px"
							/>
							<kendo-datepicker
								*ngIf="insuranceForm.value.isVerified"
								formControlName="verificationDate"
								format="MM/dd/yyyy"
								kendoTextBox
								formatPlaceholder="wide"
							></kendo-datepicker>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
