<form [formGroup]="myForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="validation" *ngIf="errors">
				<div class="validation-summary-errors">
					<ul>
						<li *ngFor="let error of errors">{{ error }}</li>
					</ul>
				</div>
			</div>
			<div class="confirmation" *ngIf="messages">
				<div class="validation-summary-messages">
					<ul>
						<li *ngFor="let message of messages">{{ message }}</li>
					</ul>
				</div>
			</div>
			<kendo-tabstrip>
				<kendo-tabstrip-tab title="General" [selected]="this.selectedTab('general')">
					<ng-template kendoTabContent>
						<div class="clearfix">
							<div class="column">
								<div>
									<advenium-label [metaData]="metaData" field="lastname"></advenium-label>
									<br />
									<input
										name="lastname"
										formControlName="lastname"
										kendoTextBox
										class="k-textbox"
										style="width: 110px"
										maxlength="250"
									/>
								</div>
							</div>
							<div class="column mL15">
								<div>
									<advenium-label [metaData]="metaData" field="firstname"> </advenium-label><br />
									<input
										name="firstname"
										formControlName="firstname"
										kendoTextBox
										class="k-textbox"
										style="width: 110px"
										maxlength="250"
									/>
								</div>
							</div>
							<div class="column mL15">
								<div>
									<advenium-label [metaData]="metaData" field="middlename"> </advenium-label><br />
									<input
										name="middlename"
										formControlName="middlename"
										kendoTextBox
										class="k-textbox"
										style="width: 110px"
										maxlength="250"
									/>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="column">
								<div>
									<advenium-label [metaData]="metaData" field="areaIds"></advenium-label>
									<br />
									<kendo-multiselect
										valueField="id"
										style="min-width: 200px; width: 100%"
										textField="title"
										[data]="areas"
										[kendoDropDownFilter]="filterSettings"
										formControlName="areaIds"
										[valuePrimitive]="true"
									>
									</kendo-multiselect>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="column">
								<div>
									<advenium-label [metaData]="metaData" field="serviceTypeIds"></advenium-label>
									<br />
									<kendo-multiselect
										valueField="id"
										style="min-width: 200px; width: 100%"
										textField="name"
										[data]="serviceTypes"
										[kendoDropDownFilter]="filterSettings"
										formControlName="serviceTypeIds"
										[valuePrimitive]="true"
									>
									</kendo-multiselect>
								</div>
							</div>
						</div>
					</ng-template>
				</kendo-tabstrip-tab>
				<kendo-tabstrip-tab title="Contacts" [selected]="this.selectedTab('contacts')">
					<ng-template kendoTabContent>
						<div class="clearfix">
							<div class="column">
								<advenium-label [metaData]="metaData" style="width: 100px" field="email">
								</advenium-label>
							</div>
							<div class="column">
								<input
									name="email"
									formControlName="email"
									kendoTextBox
									class="k-textbox"
									style="width: 300px"
									maxlength="250"
								/>
							</div>
						</div>
						<div class="clearfix">
							<div class="column">
								<advenium-label [metaData]="metaData" style="width: 100px" field="mobilePhone">
								</advenium-label>
							</div>
							<div class="column mL5">
								<kendo-maskedtextbox
									[mask]="phoneMask"
									formControlName="mobilePhone"
									style="width: 150px"
								></kendo-maskedtextbox>
							</div>
							<div class="column mL5">
								<kendo-combobox
									valueField="id"
									style="min-width: 200px; width: 100%"
									textField="name"
									[data]="phonePolicyLookup"
									[kendoDropDownFilter]="filterSettings"
									formControlName="mobilePhonePolicyId"
									[valuePrimitive]="true"
								>
								</kendo-combobox>
							</div>
						</div>
						<div class="clearfix">
							<div class="column">
								<advenium-label [metaData]="metaData" style="width: 100px" field="workPhone">
								</advenium-label>
							</div>
							<div class="column mL5">
								<kendo-maskedtextbox
									[mask]="phoneMask"
									formControlName="workPhone"
									style="width: 150px"
								></kendo-maskedtextbox>
							</div>
							<div class="column mL5">
								<kendo-combobox
									valueField="id"
									style="min-width: 200px; width: 100%"
									textField="name"
									[data]="phonePolicyLookup"
									[kendoDropDownFilter]="filterSettings"
									formControlName="workPhonePolicyId"
									[valuePrimitive]="true"
								>
								</kendo-combobox>
							</div>
						</div>
						<div class="clearfix">
							<div class="column">
								<advenium-label [metaData]="metaData" style="width: 100px" field="homePhone">
								</advenium-label>
							</div>
							<div class="column mL5">
								<kendo-maskedtextbox
									[mask]="phoneMask"
									formControlName="homePhone"
									style="width: 150px"
								></kendo-maskedtextbox>
							</div>
							<div class="column mL5">
								<kendo-combobox
									valueField="id"
									style="min-width: 200px; width: 100%"
									textField="name"
									[data]="phonePolicyLookup"
									[kendoDropDownFilter]="filterSettings"
									formControlName="homePhonePolicyId"
									[valuePrimitive]="true"
								>
								</kendo-combobox>
							</div>
						</div>
						<div class="clearfix">
							<div class="column">
								<advenium-label [metaData]="metaData" style="width: 100px" field="otherPhone">
								</advenium-label>
							</div>
							<div class="column mL5">
								<kendo-maskedtextbox
									formControlName="otherPhone"
									[mask]="phoneMask"
									style="width: 150px"
								></kendo-maskedtextbox>
							</div>
							<div class="column mL5">
								<kendo-combobox
									valueField="id"
									style="min-width: 200px; width: 100%"
									textField="name"
									[data]="phonePolicyLookup"
									[kendoDropDownFilter]="filterSettings"
									formControlName="otherPhonePolicyId"
									[valuePrimitive]="true"
								>
								</kendo-combobox>
							</div>
						</div>
						<div class="clearfix">
							<div class="column">
								<advenium-label [metaData]="metaData" style="width: 100px" field="primaryPhoneType">
								</advenium-label>
							</div>
							<div class="column mL5">
								<kendo-combobox
									valueField="id"
									style="min-width: 200px; width: 100%"
									textField="name"
									[data]="phoneTypeLookup"
									[kendoDropDownFilter]="filterSettings"
									formControlName="primaryPhoneType"
									[valuePrimitive]="true"
								>
								</kendo-combobox>
							</div>
						</div>
					</ng-template>
				</kendo-tabstrip-tab>
				<kendo-tabstrip-tab title="Schedule" [selected]="this.selectedTab('schedule')">
					<ng-template kendoTabContent>
						<advenium-clinician-service-scheduler
							[clinicianId]="this.model.id"
						></advenium-clinician-service-scheduler>
					</ng-template>
				</kendo-tabstrip-tab>
				<kendo-tabstrip-tab
					title="Intake Availability"
					[selected]="this.selectedTab('intake-availability')"
				>
					<ng-template kendoTabContent>
						<advenium-person-availability
							[filter]="getIntakeAvailabilityFilter()"
						></advenium-person-availability>
					</ng-template>
				</kendo-tabstrip-tab>
				<kendo-tabstrip-tab
					title="Services Availability"
					[selected]="this.selectedTab('services-availability')"
				>
					<ng-template kendoTabContent>
						<advenium-person-availability
							[filter]="getServicesAvailabilityFilter()"
						></advenium-person-availability>
					</ng-template>
				</kendo-tabstrip-tab>
			</kendo-tabstrip>
		</div>
	</div>
	<div class="txt-r mT10">
		<a
			data-role="button"
			class="k-button"
			role="button"
			aria-disabled="false"
			tabindex="0"
			(click)="submit()"
			*ngIf="isEditMode && !isNew()"
			>Update</a
		>
		<a
			data-role="button"
			class="k-button"
			role="button"
			aria-disabled="false"
			tabindex="0"
			(click)="create()"
			*ngIf="isEditMode && isNew()"
			>Create</a
		>
		<a
			*ngIf="showCancel"
			data-role="button"
			class="k-button mL5"
			role="button"
			aria-disabled="false"
			tabindex="0"
			(click)="cancel()"
			>Cancel</a
		>
	</div>
</form>
