<advenium-payer-filter [filterId]="filterId"></advenium-payer-filter>
<advenium-validation-message [service]="validationService"></advenium-validation-message>
<advenium-data-list
	[gridId]="gridId"
	[filterId]="filterId"
	[controller]="'payer'"
	[columns]="columns()"
	[group]="group()"
	showModify!=true
	showDuplicate!=true
	showRemove!=true
	[createButton]="createButton()"
	(editItem)="openDetails($event)"
	(duplicateItem)="openDuplicate($event)"
	(removeItem)="remove($event)"
	(createItem)="openNewItem()"
	[showCheck]="true"
	[showFilterButton]="true"
	[buttons]="[
		{ title: 'test 1', position: 'left', name: 'name 1' },
		{ title: 'test 2', position: 'left', name: 'name 2' },
		{ title: 'test 3', position: 'right', name: 'name 3' },
		{ title: 'test 4', position: 'right', name: 'name 4' }
	]"
>
</advenium-data-list>
<advenium-payer-details *ngIf="payerModel" [model]="payerModel" (savePayer)="onSave()">
</advenium-payer-details>
