<div>
	<div>
		<div *ngFor="let patient of this.patients">
			<div>{{ patient.person!.firstname }} {{ patient.person!.lastname }}</div>
			<div class="mL30" *ngIf="hasCancelledServices(patient.id)">
				<div>Cancelled Appointments: {{ cancelledServices(patient.id) }}</div>
			</div>
			<div class="mL30" *ngIf="hasDeliveredServices(patient.id)">
				<div>Delivered Appointment: {{ deliveredServices(patient.id) }}</div>
			</div>
			<div class="mL30" *ngIf="!hasDeliveredServices(patient.id)">
				<div>Appointment: {{ scheduledServices(patient.id) }}</div>
			</div>
		</div>
	</div>
	<advenium-service-scheduler
		[schedulerService]="schedulerService"
		[settings]="schedulerSettings"
		[filter]="filter"
	>
	</advenium-service-scheduler>
</div>
