<div class="mT10 mB10 w-100" *ngIf="showGrid">
	<div class="clearfix adv-toolbar-row">
		<ng-container *ngIf="this.leftButtons">
			<span *ngFor="let btn of this.leftButtons" class="column left adv-toolbar-right-margin">
				<button
					class="k-button-secondary adv-button"
					title="{{ btn.title }}"
					(click)="clickButton(btn)"
				>
					{{ btn.title }}
				</button>
			</span>
		</ng-container>
		<span class="column right adv-toolbar-left-margin">
			<button class="k-button-secondary fa fa-ellipsis-h adv-button"></button>
		</span>
		<span *ngIf="this.createButton" class="column right adv-toolbar-left-margin">
			<button (click)="onCreate()" class="k-button adv-button">
				{{ this.createButton.title || 'Create' }}
			</button>
		</span>
		<span class="column right adv-toolbar-left-margin">
			<button class="k-button adv-button">Export</button>
		</span>
		<ng-container *ngIf="this.rightButtons">
			<span *ngFor="let btn of this.rightButtons" class="column right adv-toolbar-left-margin">
				<button
					class="k-button-secondary adv-button"
					title="{{ btn.title }}"
					(click)="clickButton(btn)"
				>
					{{ btn.title }}
				</button>
			</span>
		</ng-container>
	</div>
	<div class="adv-toolbar-row clearfix">
		<kendo-grid
			class="w-100"
			[adveniumGrid]="this.list$"
			(dataStateChange)="this.onDataStateChange($event)"
			(afterInit)="this.onAfterInit($event)"
			[groupable]="this.groupable"
			[group]="this.group"
		>
			<ng-template kendoGridToolbarTemplate>
				<div class="clearfix adv-toolbar-row">
					<span
						class="column right adv-toolbar-left-margin"
						*ngIf="filterId && this.showFilterButton"
					>
						<button
							class="k-button-secondary adv-button fa fa-filter"
							title="Filter"
							(click)="openFilter()"
						></button>
					</span>
					<advenium-layout-grid-columns-chooser
						class="column right adv-toolbar-left-margin"
						[gridId]="gridId"
						[filterId]="filterId"
					>
					</advenium-layout-grid-columns-chooser>
					<advenium-grid-settings-chooser
						[gridId]="gridId"
						[filterId]="filterId"
						class="column right adv-toolbar-left-margin"
					>
					</advenium-grid-settings-chooser>
				</div>
			</ng-template>
			<kendo-grid-column *ngIf="this.showCheck">
				<ng-template kendoGridHeaderTemplate>
					<input
						type="checkbox"
						#checkAll
						title="Select\Unselect All"
						(click)="selectAll()"
						[checked]="this.selectedAll === true"
					/>
				</ng-template>
				<ng-template kendoGridCellTemplate let-dataItem>
					<input type="checkbox" (click)="rowCheck(dataItem)" [checked]="isRowChecked(dataItem)" />
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column *ngFor="let column of visibleColumns()" field="{{ column.name }}">
				<ng-template kendoGridGroupHeaderTemplate let-value="value">
					{{ value }}
				</ng-template>
				<ng-template kendoGridHeaderTemplate>
					<advenium-grid-column-title
						[gridId]="gridId"
						[filterId]="filterId"
						[column]="column.name"
						[title]="column.title"
					>
					</advenium-grid-column-title>
					<advenium-grid-column-filter
						*ngIf="isFilterable(column)"
						[gridId]="gridId"
						[filterId]="filterId"
						[column]="column.name"
					></advenium-grid-column-filter>
				</ng-template>
				<ng-container *ngIf="column.link">
					<ng-template kendoGridCellTemplate let-dataItem>
						<a [routerLink]="this.linkArray(column, dataItem)">{{ display(column, dataItem) }}</a>
					</ng-template>
				</ng-container>
				<ng-container *ngIf="column.click">
					<ng-template kendoGridCellTemplate let-dataItem>
						<a href="#" (click)="this.click(column, dataItem)">{{ display(column, dataItem) }}</a>
					</ng-template>
				</ng-container>
				<ng-template kendoGridCellTemplate let-dataItem>
					{{ display(column, dataItem) }}
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column field="Modify" title=" " [width]="35" *ngIf="!isReadOnly && showModify">
				<ng-template kendoGridCellTemplate let-dataItem>
					<advenium-grid-modify-cell (action)="edit(dataItem)" [allow]="canModify()">
					</advenium-grid-modify-cell>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column
				field="Duplicate"
				title=" "
				[width]="35"
				*ngIf="!isReadOnly && showDuplicate"
			>
				<ng-template kendoGridCellTemplate let-dataItem>
					<advenium-grid-duplicate-cell
						(action)="duplicate(dataItem)"
						[allow]="canDuplicate()"
					>
					</advenium-grid-duplicate-cell>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column field="Remove" title=" " [width]="35" *ngIf="!isReadOnly && showRemove">
				<ng-template kendoGridCellTemplate let-dataItem>
					<advenium-grid-remove-cell (action)="remove(dataItem)" [allow]="canRemove()">
					</advenium-grid-remove-cell>
				</ng-template>
			</kendo-grid-column>
		</kendo-grid>
	</div>
</div>
