<form [formGroup]="assessmentForm" novalidate>
	<div>
		<div class="p10 form">
			<div class="column w-100">
				<div class="w-100">
					<advenium-button-selector
						[disabled]="false"
						[items]="types"
						textField="name"
						valueField="id"
						formControlName="type"
						style="min-width: 300px; width: 100%"
					></advenium-button-selector>
				</div>
			</div>
			<div class="column w-100">
				<div class="w-100">
					<label>Modalitiy</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(modalities$ | async) || []"
						formControlName="modalityId"
						[valuePrimitive]="true"
						placeholder="Modality"
					>
					</kendo-combobox>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Patient</label>
						<input
							name="text"
							formControlName="patientName"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Title</label>
						<input
							name="text"
							formControlName="title"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="column w-100">
				<div class="w-100">
					<label>Gender</label>
					<kendo-combobox
						valueField="id"
						style="min-width: 200px; width: 100%"
						textField="name"
						[data]="(sex$ | async) || []"
						formControlName="sexId"
						[valuePrimitive]="true"
						placeholder="Modality"
					>
					</kendo-combobox>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Minimal Age</label>
						<input
							name="text"
							type="number"
							formControlName="ageFrom"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<div class="clearfix w-100">
				<div class="column w-100">
					<div class="w-100">
						<label>Maximal Age</label>
						<input
							name="text"
							type="number"
							formControlName="ageTo"
							kendoTextBox
							class="k-textbox"
							style="width: 100%"
							maxlength="250"
						/>
					</div>
				</div>
			</div>
			<!-- <kendo-multiselect
[autoClose]="false"
				formControlName="legends"
				textField="name"
				[data]="(legends$ | async) || []"
				valueField="id"
				[valuePrimitive]="true"
			>
			</kendo-multiselect> -->
		</div>
	</div>
</form>
<kendo-dialog-actions>
	<button kendoButton (click)="onCancelAction()">Cancel</button>
	<button kendoButton (click)="onConfirmAction()">Save</button>
</kendo-dialog-actions>
