<kendo-dialog
	[title]="title()"
	[minWidth]="500"
	[width]="600"
	*ngIf="model"
>
<!-- (close)="closeEditDialog('cancel')" -->
	<advenium-validation-message [service]="validationService"></advenium-validation-message>
	<form [formGroup]="myForm" novalidate >
		<div>
			<div class="p10 form">
				<div class="clearfix w-100">
					<div class="column w-100">
						<div class="w-100">
							<advenium-label [metaData]="metaData" field="name"></advenium-label><br />
							<input
								name="name"
								formControlName="name"
								kendoTextBox
								class="k-textbox"
								style="width: 100%"
								maxlength="250"
							/>
						</div>
					</div>
				</div>
				<div class="clearfix w-100">
                    <div class="column w-100">
                        <div class="w-100">
                            <advenium-label [metaData]="metaData" field="id"></advenium-label><br />
                            <input name="id" formControlName="id" kendoTextBox class="k-textbox"
                                style="width: 100%;" maxlength="250" />
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</form>
	<kendo-dialog-actions>
		<button kendoButton (click)="cancel()">Cancel</button>
		<button kendoButton (click)="submit()" [primary]="true">Save</button>
	</kendo-dialog-actions>
</kendo-dialog>
