<advenium-patient-filter [filterId]="filterId"> </advenium-patient-filter>
<advenium-patient-details
	*ngIf="false"
	[isEditMode]=true
>
<!-- (cancelEditing)="closeEditor()" -->
<!-- (reloadData)="reloadGrid()" -->
<!-- [model]="patientModel$ | async" -->

</advenium-patient-details>

<advenium-data-list
	[gridId]="gridId"
	[filterId]="filterId"
	[controller]="'patient'"
	[columns]="columns()"
	[linkArray]="linkArray"
>
</advenium-data-list>
<advenium-patient-table storePath='patientTable' controller='patient'></advenium-patient-table>