@import '../../../variables.scss';

$logoHeight: 32;
$logoWidth: 172px;
$userHeight: 38;

#toolbar {
	position: absolute;
	width: 100%;
	height: #{$headerHeight}px;
	left: 0px;
	top: 0px;
	background: #ffffff;
	box-shadow: inset 0px -1px 0px #e2e2ea;
}
#logo-panel {
	/* logo-2 1 */
	position: absolute;
	height: #{$logoHeight}px;
	left: 0px;
	top: #{($headerHeight - $logoHeight) / 2}px;
}

@media screen and (max-width: $small-screen) {
	#logo-panel {
		left: 32px;
	}
}

#logo-link {
	position: absolute;
	left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#logo {
	/* logo-2 1 */
	width: $logoWidth;
	height: #{$logoHeight}px;
	margin-left: 16px;
	background-image: url(../../../../assets/logo-2.jpg);
	background-size: 100%;
}

#user-panel {
	/* Frame 6 */
	/* Auto Layout */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	position: absolute;
	width: 355px;
	height: #{$userHeight}px;
	right: 48px;
	top: #{($headerHeight - $userHeight) / 2}px;
}

#user-info {
	/* Frame 5 */
	/* Auto Layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	position: static;
	width: 9.75vw;
	height: 2vw;
	left: 12.4375vw;
	top: 0.1875vw;
	/* Inside Auto Layout */
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 0px 1.5vw;
}
.logout {
	font-size: 16px;
}

#user-profile {
	/* Profile */
	position: static;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;

	background: url();
	/* Inside Auto Layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 1vw;
}

#user-name {
	/* Text */
	position: static;
	right: 0px;
	top: 14.06vw;
	bottom: 14.06vw;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 1px;

	/* Grey/Grey 8 */
	color: #1d252c;

	/* Inside Auto Layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 1vw;
}
